version: '3.8'


networks:
  taskappnetwork:


services:
  sqlserver_usermanage:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: sqlserver_user_manage
    environment:
      - SA_PASSWORD=TaskManage@123456!
      - ACCEPT_EULA=Y
    ports:
      - "8051:1433"
    volumes:
      - sqlserverdata:/var/opt/mssql
      - ./init-db:/docker-entrypoint-initdb.d
    networks:
      - taskappnetwork 

  usermanagementservice:
    image: ravik9410/usermanagementservices
    container_name: usermanagementservice
    depends_on:
      - sqlserver_usermanage
    ports:
      - "7226:80" 
    build:
      context: .
      dockerfile: UserManagementService/Dockerfile 
    environment:
       - DB_HOST=sqlserver_usermanage
       - DB_NAME=UserManagement_ServicesDb
       - DB_SA_PASSWORD=TaskManage@123456!
    networks:
      - taskappnetwork 
    restart: always

volumes:
  sqlserverdata:
